*.iml

.idea/
.mvn/
.mvn/timing.properties
.settings/
.classpath
.project
.springBeans
.apt_generated
.DS_Store
bower_components
node_modules
git.properties
oss-admin.log
UTF-8

.tmp
.factorypath

target/
/bin
_site/

/deprecated/

/**/src/main/docker/Dockerfile

/**/oss-*/node
/oss-*/deprecated
/oss-*/build
/oss-*/target
/oss-*/dist
/oss-*/logs
/oss-*/components
/oss-*/*.log
/oss-*/**/*.pem

/**/site/markdown/README.md
**/src/site/resources

# gitignore's bug?
!oss-eureka-sidecar/src/**
oss-eureka-sidecar/src/site/markdown/README.md
oss-eureka-sidecar/**/.DS_Store
/**/site/markdown/src/readme/
~
.profiler
